<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav-drawer" mode="side">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']">
          <span matLine>Home</span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']">
          <span matLine>Books</span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/home']">
          <span matLine>Users</span>
        </a>
      </mat-nav-list>
    </mat-drawer>  
    <div class="sidenav-content">
     <ng-content></ng-content>
    </div>  
</mat-drawer-container>